<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <%- css('application.css') %>
</head>
<body>
  Incoming Chat: <ul id="incomingChatMessages"></ul>
  <input type="text" id="outgoingChatMessage">
  <%- js('application.js') %>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>