extends ../layouts/application

block sidebar
  #friends.well
    h4
      | Friends (
      span#user_count 0
      | )
    hr
    ul#clients.unstyled

block content
  canvas#gameCanvas(width='760', height='540')