body {
  background-color: #000;
}

.main {
  padding-top: 20px;
}

#friends {
  height: 500px;
}

#Cocos2dGameContainer {
  position: absolute !Important;
  top: 41px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}