!!! 5
html(lang='en')
  include ../includes/head
  body
    .wrapper
      include ../includes/header
      .container.container-fluid.main
        .row-fluid
          .span2
            block sidebar
          .span10
            block content
      include ../includes/footer
    include ../includes/foot